button {
  border: none;
  width: 100%;

  color: #fff;
  text-align: center;

  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }
}

.normal {
  border-radius: 5px;
  height: 60px;

  text-align: center;
  font-family: var(--font-poppins);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.rounded {
  font-family: var(--font-poppins);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 52.624px;

  height: 51px;
}

.orange {
  background: var(--orange-400);
  box-shadow: 0px 8px 16px 0px rgba(250, 116, 54, 0.24);
  color: #fff;
}

.orange__outline {
  background: var(--orange-400);
  border: 1px solid var(--orange-400);

  background-color: white;
  color: var(--orange-400);
}

.white {
  border-radius: 52.624px;
  height: 51px;
  border: 1.504px solid #b7b7b7;

  background: #fff;
  color: #000;
}
