.container {
  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;

  font-family: var(--font-poppins);
}

.dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 570px;
  height: 628px;
  padding: 32px 24px;

  border-radius: 12.028px;
  background: #fff;
  box-shadow: 0px 6.014134407043457px 12.028268814086914px 0px
    rgba(16, 24, 64, 0.08);

  strong {
    margin: 24px 0 16px 0;

    color: #282a2f;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 152%; /* 36.48px */
  }

  p {
    color: rgba(34, 34, 38, 0.82);
    text-align: center;
    font-family: var(--font-poppins);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 38.4px */
  }

  div {
    display: flex;
    width: 100%;

    &:first-of-type {
      justify-content: center;
    }

    &:last-of-type {
      justify-content: space-between;
      margin-top: 24px;
    }
  }
}
